<div class="comment">
    <p>{{comment_text}}</p>
    <p>By {{user.username}} on {{createdAt}}</p>
    {{#if ../logged_in}}
        {{#if user_comment}}
            <button class="edit-comment" data-id="{{id}}">Edit</button>
            <button class="delete-comment" data-id="{{id}}">Delete</button>
        {{/if}}
    {{/if}}
</div>