<div class="post">
    <h2>{{title}}</h2>
    <p>By {{user.username}} on {{format_date createdAt}}</p>
    <p>{{content}}</p>

    <h4>Comments</h4>
    
    {{#each comments}}
        <div class="comment">
            <h4>{{comment_text}}</h4>
            <p>by {{user.username}} on {{format_date createdAt}}</p>
            
            {{#if ../logged_in}}
                {{#if (eq user_id ../logged_in_user_id)}}
                    <button class="edit-comment" data-id="{{id}}">Edit</button>
                    <button class="delete-comment" data-id="{{id}}">Delete</button>
                {{/if}}
            {{/if}}
        </div>
    {{/each}}
    <form class="new-comment-form" data-post-id="{{id}}">
            <textarea name="comment_text" placeholder="Add a comment" required></textarea>
            <button type="submit">Post Comment</button>
    </form>

    <p>Logged in: {{logged_in}}</p>
    <p>Logged in user ID: {{logged_in_user_id}}</p>

   
</div>
