<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Talk</title>
    <link rel="stylesheet" href="/public/css/style.css"/>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                {{#if loggedIn}}
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/logout">Logout</a></li>
                {{else}}
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Sign Up</a></li>
                {{/if}}
            </ul>
        </nav>
    </header>
    <h2>Your Dashboard</h2>
{{#if posts.length}}
    {{#each posts}}
    <div>
        <h3>{{this.title}}</h3>
        <p>{{this.content}}</p>
        <!-- Add Edit/Delete buttons here -->
    </div>
    {{/each}}
{{else}}
    <p>You have not posted anything yet.</p>
{{/if}}
<a href="/posts/new">Create a New Post</a>

 
    {{{body}}} 
 
    <footer>
        <p>&copy; 2024 Tech Talk</p>
    </footer>   

</body>

</html>

<script src'/public/js/logout.js'></script>

