<div class='posts'>
    {{#each posts as |this|}}
    <div class='card'>
        <h2>{{this.title}}</h2>
        <p>{{this.post_content}}</p>
        <p>Posted by {{this.user.username}} on {{this.createdAt}}</p>
    </div>
    {{else}}
    <p>No posts to display</p>
    {{/each}}       
</div>