{{#each posts}}
    <div class="post">
        <h2>{{title}}</h2>
        <p>By {{user.username}} on {{format_date createdAt}}</p>
        <p>{{content}}</p>
    </div>
{{/each}}

{{!-- {{#each posts}}

{{title}}
By {{user.username}} on {{createdAt}}
{{content}}

{{/each}}
**views/login.handlebars**
```handlebars
<form id="login-form">
    <input type="text" name="username" placeholder="Username" required>
    <input type="password" name="password" placeholder="Password" required>
    <button type="submit">Login</button>
</form> --}}